build/
build-*/

# Debian package build output
obj-*/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/qore-tar-module/
debian/qore-tar-module-doc/
debian/tmp/
debian/__pycache__/
